<%= render "/shared/nav_bar"%>
<%= stylesheet_link_tag 'show_post.css'%>
<div id="user-post">
  <div id="personal-info">
    <%= render "shared/user_banner" %>
    <div id="span">
      <p>Bio:</p>
      <p><%= @user.bio %></p>
    </div>
  </div>
  <div id="all-posts">
    <div id="post-header">
      <p>Posts<p>
      <% if can? :create, Post%>
        <%= link_to 'New Post', new_user_post_path(current_user), class: 'new-post-button' %>
      <% end %>
    </div>
    <% @user.recent_posts.each do |post| %>
      <div id="post-cont">
        <%= link_to user_post_path(@user, post) do %>
          <div id="detailed">
            <p> <%= link_to user_post_path(@user, post) do %> <%= post.title %> <% end %></p>
            <div id="post-reaction">
              <p id='no'>
                <i class="fas fa-comments"></i> <%= post.comment_counter %>
              </p>
              <p id='no'>
                <i class="fas fa-thumbs-up"></i> <%= post.likes_counter %>
              </p>
              <div id="comments-pic">
                <% post.recent_comments.each do |comment| %>
                <% commenter = comment.user %>
                <% if commenter.photo.present? %>
                  <%= image_tag commenter.photo, class: 'commenter-photo' %>
                <% end %>
              <% end %> 
              </div> 
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Show All Posts", user_posts_path(@user) %>
  </div>
</div>
