<%= render "shared/user_banner" %>
<div>
    <h1>Posts</h1>
    <p>
    <%= @user.bio %>
    </p>
    <div id="container">
        <% @user.posts.each do |post| %>
        <div id="data-cont">
        <div id="details">
            <p><%= post.title %></p>
            <p id='no'>Number of Comments: <%= post.comment_counter %></p>
            <p id='no'>Number of Likes: <%= post.likes_counter %></p>
        </div>
        </div>
        <% end %>
    </div>
</div>

