<%= render "/shared/head"%>
<nav class="nav">
  <ul>
    <li><%= link_to root_path do %><i class="fas fa-home"></i><% end %></li>
    <li><%= link_to  do %><i class="fas fa-file-alt"></i><% end %></li>
    <li>
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query, params[:query], placeholder: "Search" %>
        <button type="submit"><i class="fas fa-search"></i></button>
      <% end %>
    </li>
    <li><%= link_to  do %><i class="fas fa-bell"></i><% end %></li>
    <li><%= link_to  do %><i class="fas fa-envelope"></i><% end %></li>
    <li><%= link_to  do %><i class="fas fa-user"></i><% end %></li>
  </ul>
</nav>
