<%= render "/shared/nav_bar"%>
<%= render "shared/user_banner" %>
<div id="posts">
  <h3>POSTS</h3>
  <% @user.posts.each do |post| %>
    
      <div id="data-cont">
        <div id="details">
          <p><%= link_to user_post_path(@user, post) do %>Post Title: <%= post.title %> <% end %> </p>
          <p> <%= post.text%></p>
          <div id="comments">
          <p>Comments:<%= post.comment_counter %></p>
          <p>Likes: <%= post.likes_counter %></p>
            <% post.comments.each do |comment| %>
              <div class="comment">
                <img id='comm-img' src="<%= comment.user.photo %>">
                <p class="commenter"><%= comment.user.name %></p>
                <p class="com-txt"><%= comment.text %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <button>Pagination</button>
</div>
