<%= render "/shared/nav_bar" %>
<%= stylesheet_link_tag "comments.css" %>

<%= render "/shared/like", post: @post %>

<section id="each-post">
  <img src="<%= @post.user.photo %>">
  <div id='post-header'>
    <p><%= @post.title %> By: <%= @post.user.name %></p>
    <span>
      <p><i class="fa-solid fa-comment-dots"></i>Comments: <%= @post.comment_counter %></p>
      <p><%= render "/shared/like", post: @post %>Likes: <%= @post.likes_counter%></p>
    </span>
  </div>
  <div id="post-sec">
    <p class="post-txt">Post text: <%= @post.text %></p>
    <div id="comments">
      <span class="title">Comments</span>
      <div id="holders">
        <% @post.recent_comments.each do |comment| %>
        <div class="comment-holder">
        <span>
          <img id='comm-img' src="<%= comment.user.photo %>">
          <div class="user-info">
            <span class="commenter"><%= comment.user.name %></span>
            <p class="updated-at"><%= updated_at_formatted(comment.updated_at) %></p>
          </div>
        </span>
          <p class="comment-txt"><%= comment.text %></p>
        </div>
      <% end %>
      <%= form_with(model: [@post, @post.comments.build], url: user_post_comments_path(current_user, @post), local: true) do |form| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.text_area :text %>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
      </div>
    </div>
  </div>
</section>
